@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "sans-serif, Comfortaa, Arial";
  font-size: 14px;
  line-height: 1.5;
  background-color: #86BBD8!important;
}

h1, h2 {
  font-family:"Patua One", serif;
  letter-spacing: 2px;
  background-color: #2F4858;
  width:100%;
  text-align: center;
  -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: white;
}

p {
  margin-bottom: 1.5em;
}

*{
  font-family: "Roboto Condensed","Roboto","Helvetica","sans-serif";
  padding-left: 5px;
  padding-right: 5px;
  font-size: large;
}
/*button css*/
button{
  font-family: "Roboto Condensed","Roboto",Helvetica,sans-serif;
  font-weight: bold;
  font-size: 12px!important;
  text-transform: uppercase!important;
  padding:.9em;
  background: #33658A!important;
  color: white;
  border-radius: 8px!important;
  margin: .5em;
}
/*button hover css*/
button:hover {
  font-family: "Roboto Condensed","Roboto",Helvetica,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  padding: .9em;
  background-color: #33658A(26, 25, 25);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: 0.5s;
  border-radius: 8px;
}

.delete_button{
  background-color: rgb(160, 21, 21)!important;
}


/* unvisited link */
a:link {
  color: #33658A(3, 66, 87);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #33658A;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white!important;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #33658A;
  text-decoration: none;
}

.back-btn{
  justify-content: space-around;
  margin: 0.5em;
}

.next-button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.catalog{
    display: flex;
}

.catalog-btn{
  width: 10%;
  background-color: #404040!important;
  opacity: .4!important;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-left: 30px;
  float: right;
}

.catalog-btn:hover{
  border-radius: 15px;
  padding-top: 30%;
  padding-bottom: 30%;
}

.catalog:hover .world-card {
  transform: translateX(-25%);
}

.world-card:hover ~ .world-card {
  transform: translateX(25%);
}

.scroll-btn{
  width:10%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.world-card{
  height: 425px!important;
  width: 395px!important;
  border: 2px solid rgb(10, 59, 47);
  border-radius: .25rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 10px 10px 6px 1px #5d5d5d;
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 10px;
  transition: transform 300ms ease 100ms;
  overflow: hidden;
}

.world-card:hover {
  transform: scale(1.2) !important;
}

.card-section{
  display:flex;
  flex-wrap: wrap;
}

.world-regions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.region-details{
    height: 300px;
    width:250px;
    border: 2px solid rgb(10, 59, 47);
    border-radius: .25rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 10px 10px 6px 1px #5d5d5d;
    transition: box-shadow 0.25s ease;
    overflow: hidden;
    
}

.region_with_delete{
  flex-direction: column;
  align-content: center;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.435);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: white;
  
}

.biomes_checkboxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.catalog_content{
  flex-wrap: wrap;
  flex-direction: row;
}

.map{
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 2em;
  padding-top: 2em;
}

.create_regions{
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 2em;
}

.create-event{
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 2em;
}

.edit_delete_buttons{
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 2em;
}


.searchbar-container{
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.searchbar{
  border-radius: 15px;
  background-color: white!important;
  margin: 5px;
}

.drawn-map{
  width: 695px;
  height: 600px;
  border: 2px solid black!important;
  background-color: rgb(191, 162, 125);
  margin: 15px
}

input{
  background-color: white!important;
}