@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "sans-serif, Comfortaa, Arial";
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family:"Patua One", serif;
  letter-spacing: 2px;
  background-color: #197b98;
  text-align: center;
  -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: white;
}

p {
  margin-bottom: 1.5em;
}

*{
  font-family: "Roboto Condensed","Roboto","Helvetica","sans-serif";
  background-color: rgb(157, 244, 244);
  padding-left: 5px;
  padding-right: 5px;
  font-size: large;
}
/*button css*/
button{
  font-family: "Roboto Condensed","Roboto",Helvetica,sans-serif;
  font-weight: bold;
  font-size: 12px!important;
  text-transform: uppercase!important;
  padding:.9em;
  background: #197b98;
  color: white;
  border-radius: 8px!important;
  margin: .5em;
}
/*button hover css*/
button:hover {
  font-family: "Roboto Condensed","Roboto",Helvetica,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  padding: .9em;
  background-color: #197b98(26, 25, 25);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: 0.5s;
  border-radius: 8px;
}
/*randomizer button css*/
.randomButton{
  display: flex;
  align-items: center;
}

.randomizer{
  padding-top: 1em;
  align-content: center;

}


/* unvisited link */
a:link {
  color: rgb(3, 66, 87);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #197b98;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white!important;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #197b98;
  text-decoration: none;
}

.backButton{
  justify-content: space-around;
  margin: 0.5em;
}

.next-button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.world-card{
  height: 375px;
  width:300px;
  border: 2px solid rgb(10, 59, 47);
    border-radius: .25rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 10px 10px 6px 1px #5d5d5d;
    transition: box-shadow 0.25s ease;
}

.timeline-event{
    height: 250px;
    width:200px;
    border: 2px solid rgb(10, 59, 47);
      border-radius: .25rem;
      padding: 1rem;
      margin: 1rem;
      box-shadow: 10px 10px 6px 1px #5d5d5d;
      transition: box-shadow 0.25s ease;
  }

.timeline{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-section{
  display:flex;
  flex-wrap: wrap;
}

.world-regions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.region-details{
    height: 250px;
    width:200px;
    border: 2px solid rgb(10, 59, 47);
    border-radius: .25rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 10px 10px 6px 1px #5d5d5d;
    transition: box-shadow 0.25s ease;
}